


Demo Specific Styles
.grid{
background-color: #111;
display: grid;
}

.page-header{
  background-color: #222;
  padding-top:0px;
  margin: 0;
  display: grid;
}

h1,h2{
  text-align: center;
  display: grid;
  color: #fff;
}
body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
  place-self: center;
  background-color: #111;
  display: grid;
  color: #fff;
}
h3{
  margin: opx;
  background-color: #111;
  display: grid;
  color: #fff;
  text-align: center;
  background-color: #222;
}
header,
main,
aside,
 {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-self: center ;
  background-color: #333;
  margin: 0px;
  display: grid;
  color: #fff;
}

.row, .row2, .row3{
  margin: 0px;
  display: grid;
}

.container{
  padding: 0px;
  display: grid;
  max-width: 600px;
}
footer {
  background-color: #222;
  height: 150px;
  position: inherit;
  justify-self:baseline;
  
}
header{
  margin:0px;
  
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #222;
}
.myNavbar{
  max-width: 600px;
}

.navbar{
  margin: 0px;
}